<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white mb-4">
        <div class="container-fluid">
            
            <!-- Nombre de la aplicación -->
            <a class="navbar-brand" href="#">contactosApp</a>
            
            <!-- Botón para tamaño pequeño de pantalla -->
            <button routerLink="dashboard" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Opciones del menú -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Contactos -->
                    <li class="nav-item">
                        <a routerLink="contactos" routerLinkActive="text-warning" class="nav-link active" aria-current="page" href="#">Contactos</a>
                    </li>
                    <!-- Listado 1 -->
                    <li class="nav-item">
                        <a routerLink="tareas/listado" routerLinkActive="text-warning" class="nav-link active" aria-current="page" href="#">Listado 1</a>
                    </li>
                    <!-- Teléfonos -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

