<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white mb-4">
        <div class="container-fluid">
            
            <!-- Nombre de la aplicación -->
            <a class="navbar-brand" href="#">contactosApp</a>
            
            <!-- Botón para tamaño pequeño de pantalla -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Opciones del menú -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
    
                    <!-- Menú de contactos-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contactos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Todos</a></li>
                            <li><a class="dropdown-item" href="#">Alfabético</a></li>
                            <li><a class="dropdown-item" href="#">Por campo</a></li>
                        </ul>
                    </li>
    
                    <!-- Teléfonos -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Teléfonos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

