<form (ngSubmit)="guardar()" [formGroup]="formulario" class="container" autocomplete="off">

    <div class="mx-auto">        

        <!-- Identificador de la contacto -->
        <input id="id" name="id" type="hidden" value="-1">

        <!-- Nombre de la incidencia. Es texto -->
        <div class="row">

            <div class="col-md-12 mb-3">
                <label for="nombre" class="form-label">Nombre</label>

                <!-- El campo nombre -->
                <input formControlName="nombre" type="text" class="form-control" [readonly]="actualizando">
                <span class="form-text text-danger" *ngIf="esCampoNoValido('nombre')">{{ mensajeErrorCampo('nombre') }}</span>
            </div>
        </div>        
            <!-- Descripción -->
            <div class="row">
                <div class="col-md-12 mb-1">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input formControlName="apellidos" class="form-control">
                    <span class="form-text text-danger" *ngIf="esCampoNoValido('apellidos')">{{ mensajeErrorCampo('apellidos') }}</span>
                </div>
            </div>        
    </div>

</form>    

<hr>

<!-- Botones de navegación -->
<div class="row ">
    <span class="col-7"></span>
    <button class="btn btn-primary col-2 m-3" routerLink="/contactos">Volver</button>
    
    <!-- Desabilita el guardar si hay una operación en curso -->
    <button class="btn btn-warning col-2 m-3" (click)="guardar()" [disabled]="formulario.pending">Guardar</button>
</div>

<div>
{{ formulario.valid }}
<br>
{{ formulario.errors| json }}
<br>
Errores nombre: {{ formulario.controls['nombre'].errors | json }}
<br>
Errores titulo: {{ formulario.controls['titulo'].errors | json }}
<br>
{{ formulario.getRawValue()| json }}
</div>

